{% extends 'blog/base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}

<h1>Posts</h1>
<div style="margin-bottom: 30px;">
    {% if tag %}
         <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in post_list %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
        </a>
        
    </h2>
    <p class="tags">
        Tags:
        {% for tag in post.tags.all %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}" style="border:1px solid black; padding:3px; background-color: #00abff; color:white;border-radius:10px; font-size:12px" >
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
</div>

<div style="display:flex; flex-direction: center; justify-content: center; margin-bottom: 30px;">
    {% include 'blog/pagination.html' with page=post_list %}
</div>

{% endblock %}