{% extends 'blog/base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}

<h1>Posts</h1>
<div style="border:2px solid black; padding: 20px; border-radius: 40px; margin-bottom: 30px;">
    {% for post in post_list %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
        </a>
    </h2>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
</div>

<div style="display:flex; flex-direction: center; justify-content: center;">
    {% include 'blog/pagination.html' with page=page_obj %}
</div>

{% endblock %}