{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Prisma</title>
        <link href="{% static "css/blog.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="sidebar">
            <div style="display:flex; flex-direction:row; align-items:start;">
                <div><h2><strong>🔥 Prisma</strong></h2></div>
            </div>
        <p>
            "Unlocking Inspiration, One Blog at a Time"
        </p>
        </div>
    </body>
</html>